html {
  font-size: 100%;
}

body {
	background: black;
  font: 18px/1.4 helvetica;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 10px;
  width: 100%;
}

.site-avatar {
  width: 128px;
  display: block;
  margin: 0 auto;
}

.site-name {
  text-decoration: underline;
  text-align: center;
  margin: 0;
}

.site-description {
  text-align: center;
  margin: 0 0 18 0;
}
