html {
    font-size: 100%;
}

body {
    background: url(/art/bugman.png);
    background-size: cover;
    background-attachment: fixed;
    font: 18px/1.4 helvetica;
    color: white;
    margin: 0;
}

.header {
    box-sizing: border-box;
    border-bottom: 2px solid #ddd;
    background: black;
    height: 100px;
    position: relative;
}

.header-content {
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);   
}

.site-avatar {
    width: 128px;
    display: block;
    margin: 0 auto;
}

.site-name {
    text-decoration: underline;
    text-align: center;
    margin: 0;
}

.site-description {
    text-align: center;
    margin: 0;
}

.content {
    min-height: calc(100vh - 200px);
}

.footer {
    box-sizing: border-box;
    border-top: 2px solid #ddd;
    background-color: black;
    margin-top: 100px;
    height: 100px;
    position: relative;
}

.footer-content {
    letter-spacing: 10px;
    width: 100%;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

i,
i a,
i a:hover,
i a:focus,
i a:active {
    font-size: 38px;
    text-decoration: none;
    color: white;
}

.post {
    margin: 50 auto;
    max-width: 812px;
    width: 100%;
}

a {
    color: hotpink;
}

h1 a {
    color: white;
    text-decoration: inherit;
}

img {
    width: 100%;
    display: block;
    margin: 18px 0;
}

audio {
    margin: 18px 0px;
    display: block;
    width: 100%;
}

.date {
    color: gray;
    font-style: italic;
}

.post-title {
    margin: 0px;
}

.post-title a:hover {
    color: hotpink;
}

.post-content{
    background: black;
    box-sizing: border-box;
    border: 2px solid #ddd;
    width: calc(100% - 12px);
    margin: auto;
    padding: 18px;
    overflow-wrap: break-word;
    hyphens: auto;
}
