<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  </head>
  <body>
    <div class="container">
      <a href="{{ site.baseurl }}/">
        <img class="site-avatar" src="{{ site.avatar }}" />
      </a>
      <h1 class="site-avatar">{{ site.name }}</h1>
      <p class="site-avatar">{{ site.description }}</p>
      {{ content }}
    </div>
  </body>
</html>
